# Created by https://www.toptal.com/developers/gitignore/api/xcode,swift,objective-c,macos,swiftpackagemanager,swiftpm,cocoapods,git,fastlane,homebrew
# Edit at https://www.toptal.com/developers/gitignore?templates=xcode,swift,objective-c,macos,swiftpackagemanager,swiftpm,cocoapods,git,fastlane,homebrew

### Git ###
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### Homebrew ###
Brewfile.lock.json

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Objective-C ###Swift.gitignore
xcuserdata/
*.xcscmblueprint
*.xccheckout
build/
DerivedData/
*.moved-aside

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

Carthage/Build/


iOSInjectionProject/

### Objective-C Patch ###

### Swift ###
# Xcode
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore


## Playgrounds
timeline.xctimeline
playground.xcworkspace

.build/

# Accio dependency management
Dependencies/
.accio/

### SwiftPackageManager ###
Packages
xcuserdata


### SwiftPM ###
.package.resolved

### Xcode ###
# Xcode
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

/*.gcno

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

### Tuist ###
XCConfig/
Tuist/Dependencies
Derived/
*.xcworkspace
*.xcodeproj
*.p12
master.key

### xcconfig ###
Projects/App/xcconfigs/KakaoSecretKeys.xcconfig
Projects/App/xcconfigs/TokenKeys.xcconfig
Projects/App/xcconfigs/Secrets.xcconfig
Projects/App/xcconfigs/DEV.xcconfig
Projects/App/xcconfigs/PROD.xcconfig
Projects/App/xcconfigs/Shared.xcconfig
